*{
    font-family: "Poppins", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    

}
.container-spcail{
    width: 75%;
    margin: auto;
}

.backcolor-normal{
    background-color: #fd6f00;
 }
 .color-normal{
    color: #fd6f00;
 }
 .backcolor-hover{
    background-color:  #ef6400;
 }
 .color-hover{
    color:  #ef6400;
 }
 .nav-link{
    color: black !important;
    white-space: nowrap;
}
    .nav-link:hover{
    color:  #fd6f00 !important;
 }

